body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    opacity: 0.05;
    z-index: 1;
    pointer-events: none;
    background: url('./noise.gif');
}

.title {
    font-family: "New Rocker", serif;
}

.rectangle {
  z-index: 100000;
}

.wheel {
  z-index: -1;
  pointer-events: none;
}

.rectangle {
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    background-color: white;
    border: solid 0px white;
    margin: 50px auto;
    border-radius: 8px;
}

.carres {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
}

.carre {
  background-color: white;
  width: 30%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 12px;
  aspect-ratio: 1/1;
}

.slider-section {
    height: 15vh;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  
  h1 {
    font-size: 10vw;
  }
  
  .wheel {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300vw;
    height: 300vw;
    max-width: 2000px;
    max-height: 2000px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .wheel__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border: 2px solid white;
  }
  
  img {
    width: 100%;
    pointer-events: none;
    z-index: 900;
    cursor: pointer;
    position: absolute;
    will-change: transform;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .header img {
    width: 40vw;
    height: 40vw;
    max-height: 350px;
    max-width: 350px;
  }

 .albumCanvas {
    margin: auto;
 }

 .controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}
.controls label {
  font-size: 14px;
}

.text-xl {
  font-weight: bold;
}

.rectangle {
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    background-color: white;
    border: solid 0px white;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  opacity: 0;
}
h1 {
  font-family: "New Rocker", serif;
}

.desc-album, .second-text {
  flex-direction: column;
  gap: 12px;
  margin: 0 50px;
  font-weight: bold;
  margin-top: 55px;
}

.skip-button {
  width: 55px;
  height: 55PX;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 99999;
}

.skip-img {
  width: 20px;
  height: 20px;
}

.second-text {
  opacity: 0;
  height: 0;
  margin-top: 0;
}

.controls {
  opacity: 0;
}
#albumCanvas {
  opacity: 0;
}

.applyColors {
  width: fit-content;
  padding: 8px 12px;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 0;
}